boddy {
     background-color: #FFFFE0; /* Warna kuning cerah */
     font-familly: Arial, sans-serif; /* Jenis hurif yang bersih
dan mudah dibaca
     color: #191970 /* Warna teks utama (Biru Gelap */
}
   
